# Copy this file to terraform.tfvars and replace the placeholder values.

project_id      = "your-gcp-project-id"
region          = "us-central1"
zone            = "us-central1-a"
vpc_name        = "devops-vpc-prod"
subnet_name     = "devops-subnet-prod"
firewall_name   = "devops-firewall-prod"
vm_name         = "devops-vm-prod"
env             = "prod"
ssh_allowed_ips = ["YOUR_IP/32"]
